.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
}
.details {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
.name {
  font-size: x-large;
  margin-bottom: 0.5rem;
}
.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 4px;
  flex: 1;
  white-space: nowrap;
}
.policyNo {
  flex: 2;
  white-space: break-spaces;
}
.icon {
  flex-shrink: 0;
}
